.maintenance-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.maintenance-warning {
    width: 60%;
    background-color: #a2a2a2;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 2s infinite;
}

.maintenance-warning p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.icon {
    font-size: 2em;
    animation: shake 1s infinite;
}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
@media (max-width:600px){
    .maintenance-warning p {
        font-size: 12px;
    }
}