.search-bar{
    padding-left: 5px;
    margin-bottom: 10px;
}
.search-result-parent{
    position: relative;
}
.search-result-add-friend{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    background-color: #3498db;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 12px;
}