.home {
    background-color: #311d3f;
}

.home-page {
    padding: 0;
    border-left: 1px solid rgba(192, 192, 192, 0.534);
    border-right: 1px solid rgba(192, 192, 192, 0.534);


}

.side-bar {
    position: sticky;
    height: 100vh;
    padding: 0;


}

.side-bar-fixed {
    position: fixed;

}

.request-fixed {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}

.request-fixed::-webkit-scrollbar {
    display: none;
}

.side-bar-fixed img {
    margin-left: 18%;
    width: 40%;
    height: 100px;
    object-fit: contain;
}

.side-bar-icons {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    color: white;
    gap: 7px;
}

.side-bar-icons div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    overflow: hidden;
}

.side-bar-icons div:hover {
    transform: translateX(-10px);
}

img.q-logo {
    align-items: center;
    width: 50%;
    margin-left: 10px;
    height: 100px;
    object-fit: cover;
    object-fit: contain;
}

.post-img {
    height: 125%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.post {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    border-bottom: 1px solid rgba(192, 192, 192, 0.534);
    padding: 20px 0px;
}

.post-parent {
    position: relative;

}

.post-username {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: auto 0;
}

.flex-sb button {
    background: transparent;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
    margin: 10px 0px;
    align-items: center;
}

.view-comments,
.post-caption,
.add-comments {
    color: white;
    font-size: 13px;
    margin: 0;
}
.post-profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid silver;
}
.post-caption {
    margin-bottom: 5px;
}

.view-comments {
    opacity: 0.8;
}

.add-comments {
    opacity: 0.5;
}


@media (max-width:1200px) {
    .side-bar-fixed img {
        margin-left: 22%;
    }

    .post {
        width: 70%;
        height: 100%;
        margin-left: 15%;

    }
}





@media (max-width:620px) {
    .side-bar-icons div p {
        display: none;
    }

    .side-bar-icons {
        margin-left: 10px;
        align-items: center;
        gap: 30px;

    }

    .side-bar-fixed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .side-bar-icons div:hover {
        transform: translateX(0);
        opacity: 0.6;
    }

    .post {
        width: 100%;
        height: 100%;
        margin-left: 0%;

    }

    .post-username {
        font-size: 13px;
        margin-right: 5px;
        align-items: center;

    }

    .view-comments,
    .post-caption,
    .add-comments {
        color: white;
        font-size: 11px;
        margin: 0;
    }

}