.home {
    background-color: #311d3f;
}

.home-page {
    position: relative;
    padding: 0;
    border-left: 1px solid rgba(192, 192, 192, 0.534);
    border-right: 1px solid rgba(192, 192, 192, 0.534);


}

.side-bar {
    position: sticky;
    height: 100vh;
    padding: 0;


}

.side-bar-fixed {
    position: fixed;

}

.request-fixed {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    width: 19%;
}

.request-fixed::-webkit-scrollbar {
    display: none;
}

.side-bar-fixed img {
    margin-left: 18%;
    width: 40%;
    height: 100px;
    object-fit: contain;
}

.side-bar-icons {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    color: white;
    gap: 7px;
}

.side-bar-icons div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    overflow: hidden;
}

.side-bar-icons div:hover {
    transform: translateX(-10px);
}

img.q-logo {
    align-items: center;
    width: 50%;
    margin-left: 10px;
    height: 100px;
    object-fit: cover;
    object-fit: contain;
}

.post-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.post,
.profile-div,
.chat-parent {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    border-bottom: 1px solid rgba(192, 192, 192, 0.534);
    padding: 20px 0px 5px 0px;
}

.post-parent {
    position: relative;

}

.post-username {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: auto 0;
}


.view-comments,
.post-caption,
.add-comments {
    color: white;
    font-size: 13px;
    margin: 0;
}

.post-profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid silver;
}

.post-caption {
    font-size: 14px;
    margin-bottom: 5px;
}

.view-comments {
    opacity: 0.8;
    cursor: pointer;

}

.add-comments {
    opacity: 0.5;
}

.input-add-comment {
    border: none;
    background: transparent;
    color: white;
}

.input-add-comment:focus {
    outline-width: 0;
}

.input-add-comment::placeholder {
    padding-left: 0;
    font-size: 13px;

}

.post-comment {
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);

}

.post-comment:hover {
    color: rgb(0, 255, 0);
}

.accept-request,
.reject-request {
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    margin-left: 5px;
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    font-size: 14px;
}

.accept-request:hover {
    color: rgb(0, 255, 34);
    border: 1px solid rgb(0, 255, 85);
}

.reject-request:hover {
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}

.profile-pic {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

p#profile-username {
    margin-bottom: 3px;
    font-size: 20px;
}

.profile-posts {
    position: relative;
    padding: 5px;
    border: 1px solid silver;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
}

.profile-post {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid silver;
    background-color: black;
    cursor: pointer;
}

.profile-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.profile-details p {
    text-align: start;
}

.profile-details div p {
    font-size: 14px;
    text-align: center;
}

.profile-details div {
    display: flex;
    gap: 15px
}

button.logout {
    background-color: rgba(128, 128, 128, 0.147);
    color: white;
    border-radius: 5px;
    width: 50px;
    font-size: 12px;
    border: 1px solid white;
    margin: 5px;
}

.create-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.upload-input,
.caption-input {
    width: 80%;
    overflow: hidden;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.caption-input {
    border-radius: 10px;
}

.upload-post-button {
    background-color: #311d3f;
    border: 1px solid white;
}

.profile-click-post {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22132e;
    border-radius: 15px;
    border: 1px solid silver;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.296);
    padding: 20px 5px;
}
.profile-click-button{
    position: absolute;
    right: 10px;
    top:10px;
    height: 25px;
    width: 25px;
    font-size: 10px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.profile-edit-post{
    position: absolute;
    left: 10px;
    top:10px;
    height: 25px;
    width: 45px;
    font-size: 10px;
    background-color: rgba(208, 0, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(255, 254, 254);
}




/* AVATAR */
#avatar {
    border-radius: 50%;
    border: 1px solid silver;
    width: 50px;
    height: 50px;
    margin: 0px 15px;
}

.chat-profile-block {
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
}
.chat-add-button{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(69, 55, 255);
    border: 1px solid silver;
    font-size: 10px;
}

@media (max-width:1200px) {
    .side-bar-fixed img {
        margin-left: 22%;
    }

    .post,
    .chat-parent {
        width: 70%;
        height: 100%;
        margin-left: 15%;

    }

    .request-fixed {
        width: 22%;
    }

    .accept-request,
    .reject-request {
        margin-left: 3px;
        height: 23px;
        font-size: 12px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    p#profile-username {

        font-size: 17px;
    }

    .profile-details {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

    }

    .profile-details p {
        text-align: start;
    }

    .profile-details div p {
        font-size: 12px;
        text-align: center;
    }

    .profile-details div {
        display: flex;
        gap: 7px
    }
}





@media (max-width:620px) {
    .side-bar-icons div p {
        display: none;
    }

    .side-bar-icons {
        margin-left: 10px;
        align-items: center;
        gap: 30px;

    }

    .side-bar-fixed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .side-bar-icons div:hover {
        transform: translateX(0);
        opacity: 0.6;
    }

    .post,
    .profile-div,
    .chat-parent {
        width: 100%;
        height: 100%;
        margin-left: 0%;

    }

    .profile-div {
        padding: 7px;
    }

    .post-username {
        font-size: 13px;
        margin-right: 5px;
        align-items: center;

    }

    .view-comments,
    .post-caption,
    .add-comments {
        color: white;
        font-size: 11px;
        margin: 0;
    }

    .profile-pic {
        margin-left: 20px;
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }

    p#profile-username {

        font-size: 15px;
    }

    .profile-details {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

    }

    .profile-details p {
        text-align: start;
    }

    .profile-details div p {
        font-size: 10px;
        text-align: center;
    }

    .profile-details div {
        display: flex;
        gap: 5px
    }

}