.timer-parent{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(10px);
  }
/*   
  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
   */
  #countdown {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 1;
  }
  
  /* .circle::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
   */

   @media (max-width : 600px ){
    #countdown {
      font-size: 20px;
    }
   }