body{
  margin: 0;
  padding: 0;
  background-color: #311d3f;
}
*{
  color: white;

  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.flex-sb{
  display: flex;
  justify-content: space-between;
}
.flex{
  display: flex;
  align-items: center;
}